#logo img {
  display: block;
  padding-bottom: 10px; /* Adjust as needed */
}

.project-section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f4f9f4;
    border-radius: 10px;
  }
  
  .project-header {
    font-size: 36px;
    font-weight: bold;
    color: #145214;
    margin-bottom: 10px;
  }
  
  .subsection-header {
    font-size: 20px;
    color: #228B22;
    margin-top: 20px;
  }
  
  .publication-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  .publication-list li {
    margin-bottom: 10px;
  }
  
  .logo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px; /* vertical and horizontal spacing */
    justify-items: center;
    align-items: center;
    }
    
    .logo-item {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .logo-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    }


    footer img {
      height: 40px;
      vertical-align: middle;
    }

    /* Make sure .hoc class doesn't restrict full width */
.hoc {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}


/* Fix layout issue in logo column */
.logo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
  justify-items: center;
  align-items: center;
}

.logo-item {
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
