#logo img {
  display: block;
  padding-bottom: 10px; /* Adjust as needed */
}

.project-section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f4f9f4;
    border-radius: 10px;
  }
  
  .project-header {
    font-size: 36px;
    font-weight: bold;
    color: #145214;
    margin-bottom: 10px;
  }
  
  .subsection-header {
    font-size: 20px;
    color: #228B22;
    margin-top: 20px;
  }
  
  .publication-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  .publication-list li {
    margin-bottom: 10px;
  }
  